/* CUSTOM PROPERTIES */
:root {
    --ms_header-height: 80px;
    --ms_bg-primary-color: rgb(248 249 250);
    --ms_sidebar-width: 80px;
    --ms_bg-sidebar: rgb(5 30 52);
    --ms_bg-dashboard: rgb(27 114 232);
    --ms_white-color: white;
    --ms_btn-color: rgb(22 91 187);
}

@media screen and (min-width: 992px) {
    :root {
        --ms_sidebar-width: 180px;
    }  
}

/* RESET */
img {
    max-width: 100%;
}

/* COMMON */
header button, .ms_sidebar button {
    border: 0;
    background-color: transparent;
}

/* Web APP */
.app {
    width: 100%;
    height: 100vh;
}

/* HEADER */
header {
    height: var(--ms_header-height);
    width: 100%;
    background-color: var(--ms_bg-primary-color);
}

header .container-fluid .row {
    height: calc(var(--ms_header-height) - 20px);
}

/* Logos */
.ms_header-logos {
    min-width: max-content;
    height: calc(var(--ms_header-height) - 20px);
}

@media screen and (min-width: 992px) {
    .ms_header-logos {
        height: calc(var(--ms_header-height) - 40px);
    }
}

/* Searchbar */
.ms_search-bar {
    background-color: rgb(224, 224, 224);
}

.ms_search-bar input {
    padding: 5px 0;
    outline: 0;
    width: 100%;
    border: 0;
    background-color: transparent;
}

/* MAIN */
main {
    height: calc(100% - var(--ms_header-height));
    width: 100%;
    display: flex;
}

/* Sidebar */
.ms_sidebar {
    width: var(--ms_sidebar-width);
    height: 100%;
    background-color: var(--ms_bg-sidebar);
    background-image: url(../img/sidebar-bg.png);
}

/* Main-Content */
.ms_main-content {
    width: calc(100% - var(--ms_sidebar-width));
    height: 100%;
    background-color: var(--ms_bg-primary-color);
    overflow-y: auto;
}

/* Dashboard */
.ms_dashboard {
    background-color: var(--ms_bg-dashboard);
    color: var(--ms_white-color);
}

.ms_btn-primary {
    background-color: var(--ms_btn-color);
    color: var(--ms_white-color);
}

.ms_3-app {
    gap: 5px;
}

.ms_3-app ul {
    gap: 5px;
}

/* Content */
.card .table img {
    width: 35px;
    margin-right: 5px;
    border-radius: 50%;
}

.ms_done, .ms_process, .ms_failed {
    display: inline-block;
    color: white;
    padding: 0 5px;
    border-radius: 10px;
}

.ms_done {
    background-color: green;
}

.ms_process {
    background-color: orange;
}

.ms_failed {
    background-color: red;
}